
@import 'plyr/dist/plyr.css';
@import './components/header';
@import './components/footer';
@import './components/animes-containers';
@import './components/auth';
@import './components/anime-page';
@import './components/profile_page';
@import './components/settings_page';
@import './components/my_colletion';
@import './components/loading';
@import './components/anime-player';
@import './components/episode-audio-selector';
@import './components/profile-modal';
@import './components/profile-page-old';
@import './components/profile-collection-old';
@import './components/search-modal';
@import './components/searchloader';
@import './components/admin-panel-ac';
@import './components/add-anime';
@import './components/admin-categry';
@import './components/edit-anime';
@import './components/testing-admin';
@import './components/player-switch';
@import './components/plyr-player';
@import './components/episode-selector';
@import './components/anicat-player';
@import './components/test-anime-page';
@import './components/anicat-player-new';



$enable-animations: true; // 👈 можно переключать из JS через class

/* Глобальные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin-top: 93px;
  font-family: 'Arial', sans-serif;
  background-color: #1b1b1b;
  color: #fff;
}

a {
  text-decoration: none;
}

h1 {
  color: #ffffff;
  margin-bottom: 0.7rem;
  font-size: 30px;
}
.categories {
  padding: 20px;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
  }
}