.admin-panel {
  display: flex;
  height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
  background: #111;
  color: #f0f0f0;

  .admin-sidebar {
    width: 250px;
    background: #1c1c1c;
    padding: 2rem;
    border-right: 2px solid #e91e63;

    .admin-title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: #e91e63;
    }

    button {
      display: block;
      background: none;
      border: none;
      color: #ccc;
      margin:10px;
      padding: 10px 0;
      text-align: left;
      cursor: pointer;
      transition: all 0.3s;

      &.active,
      &:hover {
        color: #fff;
        font-weight: bold;
        border-left: 3px solid #e91e63;
        padding-left: 0.5rem;
      }
    }
  }

  .admin-content {
    flex: 1;
    padding: 2rem;

    .admin-section {
      h2 {
        color: #ff4081;
        margin-bottom: 1rem;
      }

      .add-button {
        background: #e91e63;
        border: none;
        padding: 0.5rem 1rem;
        color: white;
        margin-bottom: 1rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background: #ff6090;
        }
      }

      .admin-table-header,
      .admin-table-row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        padding: 0.8rem;
        background: #222;
        margin-bottom: 0.5rem;
        border-radius: 8px;

        span {
          display: flex;
          align-items: center;
        }

        button {
          background: #333;
          border: none;
          color: #fff;
          padding: 0.3rem 0.6rem;
          margin-right: 5px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background: #555;
          }

          &.danger {
            background: #b71c1c;

            &:hover {
              background: #f44336;
            }
          }
        }
      }
    }
  }
}
