.anime-player-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;

  .anime-player {
    flex: 2;
    margin: 10px auto;
    max-width: 800px;

    video {
      width: 100%;
      border-radius: 12px;
      border: 2px solid #ff0000;
    }
  }
}
