.container-wrapper {
  padding-top: 30px;
  position: relative;
}
.category
{
  position: relative;
  margin: 15px 0px 0px 70px;
}

/* Центрирование контейнера с анимацией */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b1b1b;
}

.loading-box {
  text-align: center;
}

.loading-box p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}


.category-title
{
  color: white;
  font-size: 26px;
}

.anime-title {
  margin-top: 0px;
  padding: 0 0 0px 10px;
  display: flex;
  gap: 15px;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.anime-line-container {
  display: flex;
  overflow-x: auto;
  padding-top: 20px;
  scrollbar-width: none;
  position: relative;
  flex-wrap: nowrap;

  .anime-line-container-padding {
    display: flex;
    overflow-x: auto;
    position: relative;
    flex-wrap: nowrap;
  }
}

.anime-title-card {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  margin: 0 10px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* расплывчатая тень */
  flex: 0 0 auto;
  background: rgb(41, 41, 41);


  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7); /* плотная тень при наведении */
    .anime-thumbnail {
      opacity: 0.6;
    }

    .anime-info {
      opacity: 1;
      transform: translateY(0);
      .anime-title-text {
        opacity: 0; /* Скрываем название с сезоном */
        transform: translateY(-60px);
        left: 5px;
      }
      .anime-title-text-no-season {
        opacity: 1; /* Показываем название без сезона */
        transform: translateY(0);
      }
      .anime-detailed-info {
        opacity: 1;
        transform: translateY(0);
      }
      .anime-hover-text {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.anime-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.anime-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 10px;
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
  opacity: 1;
  transform: translateY(10px);
  transition: all 0.3s ease;

  .anime-title-text {
    position: absolute;
    bottom: 25px; /* Оставляем пространство снизу */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%) translateY(0); /* Центрируем по горизонтали и сохраняем положение снизу */
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .anime-title-text-info
  {
    position: relative;
    font-size: 17px;
    color: rgb(250, 255, 177);
    font-weight: bold;
  }
  .anime-title-text-no-season {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    opacity: 0;
    transform: translateY(10px); /* Поднимем название вверх при отсутствии сезона */
    transition: all 0.3s ease;
  }

  .season-text {
    font-size: 20px;
    color: #ff0000;
    position: relative;
    bottom: 1px;
    transition: all 0.3s ease;
  }

  .anime-detailed-info {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    p {
      font-size: 14px;
      margin: 5px 0;
    }
  }

  .anime-hover-text {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #ff0000;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    background-color: rgba(255, 0, 0, 0.14);
    padding: 3px;
    border-radius: 20px;
    width: 140px;
  }
}

.view-all-button {
  position: absolute;
  color: red;
  top: 0;
  right: 0;
  bottom: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0;
  padding-left: 60px;
  padding-right: 10px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
  background: linear-gradient(to left, #111111, transparent);
  transition: all 200ms ease-out, box-shadow 300ms ease-out; /* Добавлена плавная анимация тени */

  a {
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(255, 47, 47, 0.34);
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.5); /* Добавлена тень при наведении */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }
}

.anime-list-page {
  padding: 0.6rem;
  background: #1c1c1c;
  color: #fff;
}

.categoryname
{
  position: relative;
  padding: 10px;
  margin-left: 15px;
}

.anime-list {
  display: grid;
  margin-left: 20px;
  gap: 11px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}



.anime-thumbnail {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .anime-tag {
    position: absolute;
    top: 8px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 2;
    pointer-events: none;
  }

  .type-tag {
    left: 8px;
    background-color: #ff4655; // красный стиль для типа
  }

  .episodes-tag {
    right: 8px;
    background-color: #ff0f0f; // жёлтый стиль для кол-ва серий
    color: #ffffff;
  }
}

