.plyr-player-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.plyr-player-wrapper video,
.plyr-player-wrapper .plyr {
  width: 100%;
  height: 100%;
}
